<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativeupiintent">
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data
        android:host="pay"
        android:scheme="upi" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data
        android:host="mandate"
        android:scheme="upi" />
    </intent>
    <intent>
      <action android:name="android.intent.action.MAIN" />
    </intent>
  </queries>
</manifest>
